#adv-srch-page {
    display: flex;
    justify-content: center;
}

.adv-srch-cat-container {
    list-style: none;
    width: 975px;
}

.adv-srch-cat-container hr {
    opacity: 30%;
    z-index: 0;
}

.adv-srch-form > input {
    display: block;
    margin: 60px auto;
}

.search-btn {
    background-color: #ddd;
}