#adv-srch-page {
    display: flex;
    justify-content: center;
}

.adv-srch-cat-container {
    list-style: none;
    width: 975px;
}

.adv-srch-form hr {
    opacity: 30%;
    z-index: 0;
}

.adv-srch-form > input {
    display: block;
    margin: 60px auto;
}

.search-btn {
    background-color: #ddd;
}

.home-bar {
    margin-bottom: 25px;
    justify-content: left;
}

.home-bar:hover > input {
    width: 300px;
}

.search-input-label {
    margin-bottom: 25px;
}