.adv-srch-cat-container {
    list-style: none;
    width: 975px;
}

.adv-srch-form > .page-title {
    margin: 30px 0;
}

hr {
    opacity: 30%;
    z-index: 0;
}

.adv-srch-form > input {
    display: block;
    margin: 60px auto;
}

.adv-input {
    border: 1px solid #ddd;
    width: 300px;
    padding-left: 15px;
}

.search-btn {
    background-color: #ddd;
}

.home-bar {
    margin-bottom: 25px;
    justify-content: left;
}

.home-bar:hover > input {
    width: 300px;
}

.search-input-label {
    margin-bottom: 25px;
}

.filter-alert {
    display: flex;
    position: absolute;
    background-color: #61677A;
    padding: 15px 25px;
    border-radius: 4px;
    color: white;
    width: 0px;
    overflow: hidden;
    display: none;
    z-index: 1;

    & .fa-exclamation-circle {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 20px;
        margin: 0 15px;
    }

    & p {
        padding: 0 25px;
    }

    & .close-button {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        border: none;
        background-color: #52596a;
        padding: 15px 13px;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
    }

    & .close-button:hover {
        background-color: #4c5263;
    }
}

.filter-alert.show {
    display: block;
    width: 285px;
    top: 200px;
    animation: jitter 0.4s ease forwards;
}

@keyframes jitter {
    0% {
        transform: skew(0deg) translate(0px, 0px);
      }
      17% {
        transform: skew(0.5deg) translate(-2px, 0px);
      }
      32% {
        transform: skew(0.5deg) translate(0px, 0px);
      }
      48% {
        transform: skew(0deg) translate(0px, 0px);
      }
      63% {
        transform: skew(-0.5deg) translate(2px, 0px);
      }
      79% {
        transform: skew(-0.5deg) translate(0px, 0px);
      }
      100% {
        transform: skew(0deg) translate(0px, 0px);
      }
}