.page {
    background-color: whitesmoke;
    min-height: 920px;
}

.category-title {
    text-align: center;
    padding: 50px 0;
}

.recipe-cards-list-container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}