.most-pop-container, .runner-up-container {
    display: flex;
    justify-content: center;
}

.adv-input {
    width: 300px;
    padding-left: 15px;
}

.home-bar {
    margin: 50px 0;
    justify-content: center;
}

.home-bar:hover > input {
    width: 300px;
}