.buttons-container {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
  
.button {
  background-color: #61677A;
  color: white;
  padding: 8px 16px;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.button:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}